.self-card-gb-gray {
    background-color: rgba(147, 178, 168, 0.1);
}

.self-bar-color {
    background-color: rgb(154, 180, 205);
}

.self-background-color{
    background-color: #fafbfe;
}

.self-footer-color{
    background-color: #dae9f7;
}